

.para{
    z-index: 2;
    position: relative;
    padding: 15px 150px 15px 150px;
    font-family: monospace;
    font-size: 18px;
  }

.title{
    display: inline;
    /*float: left;*/
    padding: 40px;
    width: 100%;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.title2{
    font-size: 30px;
    padding: 5px 50px 5px 50px;
    width: 800px;
    background-color:#6CF;
}

.title3{
    font-size: 20px;
    padding: 5px 50px 5px 50px;
    width: 600px;
    background-color:#808080;
}