.contact-us {
  max-width: 600px;
  line-height: 200%;
  color: #666;
  margin: 0 auto;
  padding: 120px 0 60px 0;
}

.contact-us .intro {
  margin-bottom: 30px;
  font-weight: 500;
  color: #333;
  font-size: 18px;
}

.contact-li {
  display: flex;
  margin-top: 30px;
  color: #000;
  font-weight: 500;
  padding-top: 18px;
}

.contact-li:not(:first-child) {
  border-top: 1px solid #ebebec;
}

.contact-li:nth-child(2) {
  border-top: none;
}

.contact-li .avatar-img {
  border-radius: 50%;
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.contact-li .right {
  margin-left: 20px;
}

.contact-li .right .information:not(:first-child) {
  margin-top: 8px;
}
