.about-us-container {
  height: 100%;
}

.about-us-container .about-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 60px;
}

.about-us-container .about {
  max-width: 800px;
  margin: 0 auto;
  line-height: 200%;
  color: #666;
}
.about .title {
  font-weight: 500;
  color: #333;
  font-size: 30px;
  margin-bottom: 40px;
}

.about .item {
  margin-top: 20px;
}
