.nav-wrapper {
  background-color: skyblue;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  color: #fff;
}

.login-btn {
  color: #fff;
  margin-left: 20px;
}
